<h1>Users</h1>
<% @users.each do |user| %>
  <p><%= user.username %></p>
  <div class="team">
    <p>Team Members</p>
    <% user.members.each do |member| %>
      <%= member.text %> <br/>
    <% end %>
  </div>
<% end %>